[Unit]
Description=Pi Power Button Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /home/pi/Git/retro/dist/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target